@page "/"

<PageTitle>Home</PageTitle>
<MudPaper Elevation="5" Square="false" Style="max-width: 400px; margin: 40px auto; padding: 20px;">
    <h1 style="text-align: center;">Blazor Stockfish</h1>
    <MudSlider T="int" Min="1350" Max="3300" Step="50" Color="Color.Primary" 
               @bind-Value="elo" Style="margin-top: 20px;">
        Difficulty: @elo.ToString() elo
    </MudSlider>
    <div style="text-align: center; margin-top: 20px;">
        <MudSwitch @bind-Value="isBlackSide" Color="Color.Primary">
            Play as White: @(isBlackSide ? "Yes" : "No")
        </MudSwitch>
    </div>
    <MudButton OnClick="startGame" Variant="Variant.Filled" Color="Color.Primary" 
               Style="width: 100%; margin-top: 30px;">
        Start Game
    </MudButton>
</MudPaper>
